@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
/* font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif; */
margin:0;
/* color:#313131; */
}
ul {
    padding: 0;
}

img {
    /* width:100%; */
    max-width: 100%;
    height: auto;
}

/*****NAV*****/

.container {
    /* max-width: 1160px; */
    width: 100%;
    margin: 0 auto;
}

nav{
    width: 100%;
    /* border: 1px solid white; */
    overflow: hidden;
    background-color: black;
}
nav ul{
    display: flex;
	flex-flow: row;
    margin: 0;
    margin-left: 60px;
	padding: 6px;
	list-style-type: none;
    /* width: 60%; */
    /* margin-left: 20%; */
}
nav li {
    font-family: Wigwag;
    font-weight: bold;
    /* font-size: 30px; */

}

nav li:hover{
    background-color: #8cae47;
}

.nav-link{
    display: block;
	border-radius: 4px;
	padding: 12px 24px;
	color: white;
	text-decoration: none;
}

.top-container{
    background-image:url(./../img/header-photo.jpg);   
    background-size: cover;
    height: 800px;
    width: 100%;
}

.top-container > .container > h1{
    color:white;
    padding-left: 80px;
    padding-top: 230px;
    font-size: 1rem;
    font-weight: bold;
    font-family: FOT-筑紫B丸ゴシック Std;
    text-shadow: 5px 5px 3px #000000;
}

.top-logo {
    padding-top: 160px;
    padding-right: 90px;
    text-align: right;
}

.top-logo img{
    width:40%;
    /* height:25%; */
}

.title h1 {
    font-family: Wigwag;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 25px;
}

.title p {
    color:#414141;
    font-size: 20px;
    text-align: center;
    font-family: FOT-筑紫B丸ゴシック Std;
    padding-bottom: 50px;
}

.abount-container {
    width: 100%;
}

.list-about{
    display: flex;
    width: 100%;
    list-style: none;
    margin:0;
}

.list-about li {
    flex:auto;
}

.list-about li img {
    flex:auto;
}

.content{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.content h2 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: [TsukuBRdGothic];
    font-weight: bold;
    font-size: 30px;
}

.content p{
    line-height: 2;
}

.price{
    font-family: Wigwag;
    font-weight: bold;
    font-size: 30px;
}

.access{
    display: flex;
    
}

.access-info{
    flex:auto;
    position: relative;
    height: 390px;
}

.access-map{
    flex:auto;
    width: 100%;
    height: 390px;
}

.access-background {
    width: 100%;
    height: 100%;
}


.access-logo{
    position: absolute;
    top:50px;
    left:80px;
    height: 78px;
}

.access-info h2{
    position: absolute;
    top:150px;
    left:80px;
}

.access-map{
    width: 50%;
}

.access-map iframe{
    width: 100%;
    height: 100%;
}

.access-info dl{
    position: absolute;
    top:210px;
    left:80px;
    width: 410px;
    font-weight: bold;
  }
  
  .access-info dt{
    width:120px;
    float:left;
    text-align: left;
    padding-right: 30px;
    margin-bottom:7px;
    font-family: [TsukuBRdGothic];
  }
  
  .access-info dd{
    color:#333;
    text-align: left;
    margin-bottom:7px;
  }

.access{
    display: flex;
}
.news-container{
    text-align: center;
}

.news-container dl{
    padding:10px;
    width:70%;
    margin: 0 auto;

  }
  
.news-container dt{
    float:left;
    clear: both;
    text-align: left;
    padding-right: 70px;
    margin-bottom:7px;
    font-family: [TsukuBRdGothic];
}

.news-container dd{
    color:#333;
    text-align: left;
    margin-bottom:7px;
    border-bottom: 1px solid #888888;
}

footer{
    width: 100%;
}

.footer-logo{
    text-align: center;
    padding-top: 160px;
    padding-bottom: 60px;
}

.sns-list{
    display: flex;
    margin: 0 25%;
    padding-bottom: 160px;
    list-style: none;
}

.sns-item{
    width: 100%;
    text-align: center;
}

.sns-item img{
    padding-bottom: 15px;
}

.copy-light {
    text-align: center;
    padding-bottom: 20px;
}
